/* 
480px // Extra small screen
768px // Small screen
992px // Medium screen
1200px // Large screen
1600px // Extra Large screen
1900px // Extra Large screen
*/


body {
    font-family: 'Castoro', serif;
    background-color: rgb(255, 240, 255);
}

header {
    text-align: center;
    margin: 10% auto;
}

main {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-left: 5%;
}

#textInput {
    padding: 5%;    
    margin: 5%;
}

#countButton {
    float: left;
    width: 150px;
    margin-left: 5%;
    font-variant: small-caps;
    font-size: medium;
    color: antiquewhite;
    background-color: gray;
}

#countType {
    float: right;
    min-width: 150px;
    max-width: 400px;
    margin-right: 5%;
}

.output {
    height: 50%;
    width: 100%;
    background-color: rgb(255, 225, 255);
    width: 100%;
}

#lettersDiv {
    background-color: rgb(255, 210, 255);
    border-radius: 10px;    
    height: 150px;
    width: 90%;
    margin: 5%;
    overflow: scroll;
}

#wordsDiv {
    background-color: rgb(255, 210, 255);
    border-radius: 10px;    
    height: 150px;
    width: 90%;
    margin: 5%;
    overflow: scroll;
}

@media screen and (min-width: 480px){
    header {
        
        margin: 40px auto;
    }

    main {
        flex-direction: row;
    }

    form {
        max-width: 50%;
    }
}